main {
  margin: 0 auto;
  padding: var(--size-3);
}

body {
  max-width: 36em;
  margin: 0 auto;
  background-color: #0D1C38;
}

/*Typografi */
h1,
h2,
h3,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 35px;
  margin: auto;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 1rem;

}

h2 {
  font-size: 30px;
  margin: auto;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 25px;
  color: #fefefe;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 20px;
  font-weight: var(--font-weight-5);
  line-height: var(--font-lineheight-1);
  padding: var(--size-4) 0;
  color: #fefefe;
}
