---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import InfoBoks from "../components/InfoBoks.astro";
import Header from "../components/Header.astro";
import QuoteBoks from "../components/QuoteBoks.astro";
import ScrollBar from "../components/ScrollBar.astro";
import Overskrift from "../components/Overskrift.astro";
import { Image } from "astro:assets";
import ReadAloud from "../assets/images/icons/ReadAloud.svg";
import RødtKamera from "../assets/images/Kamera.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pierre Falcke</title>
  </head>
  <body>
    <main>
      <section class="header">
        <div>
          <Header>
            <h1>Det uperfekte<span class="highlight">Er perfekt</span></h1>
          </Header>
        </div>

        <div>
          <Image src={ReadAloud} alt="Read Aloud knap" />
        </div>
      </section>

      <section class="section_1">
        <Overskrift><h2>Pierre Falcke <span class="highlight">Intro</span></h2></Overskrift>
      </section>

      <section class="section_2">
        <Overskrift><h2>Pierre Falckes <span class="highlight">Berømmelse</span></h2></Overskrift>
        <p>
          Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at
          fotografere på film op gennem gymnasietiden.
        </p>

        <div>
          <Image src={RødtKamera} alt="Rødt kamera SVG" />
        </div>
        <p>
          Pierre gik over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil.  På det
          tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig:
        </p>
        <div>
          <QuoteBoks>
            <h3>Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn <span class="highlight">lukker.</span></h3>
          </QuoteBoks>
        </div>

        <p>
          Så Pierre gav sig selv en udfordring: <span class="highlight">At blive landets bedst sælgende stock-fotograf.</span> Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om
          dagen. Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX.
        </p>
      </section>
    </main>
  </body>
</html>

<style>
  h1 span {
    font-family: "Courier New", Courier, monospace;
  }
  .highlight {
    color: #e41088;
  }

  h1,
  h3 span {
    font-weight: 700;
  }
</style>
