---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import InfoBoks from "../components/InfoBoks.astro";
import QuoteBoks from "../components/QuoteBoks.astro";
import ScrollBar from "../components/ScrollBar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pierre Falcke</title>
	</head>
	<body>
		<h1>Er det Stefan? sus</h1>
	</body>
</html>
