---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import InfoBoks from "../components/InfoBoks.astro";
import Header from "../components/Header.astro";
import QuoteBoks from "../components/QuoteBoks.astro";
import ScrollBar from "../components/ScrollBar.astro";
import { Image } from 'astro:assets';
import headerimage from "../assets/images/BGdesignHeader.svg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pierre Falcke</title>
	</head>
	<body>
		<main>
			<section>
				<Header variant="first"
				text1="Det uperfekte"
				text2="Er perfekt"
				<div><Image src={headerimage} format="svg" alt="header background picture"</div>>
				>
				</Header>
			</section>
			
			<div>
				<QuoteBoks variant="first"
						text1="Om ganske få år er hele branchen digital,"
						text2="og dem der ikke hopper med på"
						text3="den digitale vogn lukker."
						img=""
				>
				</QuoteBoks>
			</div>
			
		</main>
	</body>
</html>
