---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import InfoBoks from "../components/InfoBoks.astro";
import Header from "../components/Header.astro";
import QuoteBoks from "../components/QuoteBoks.astro";
import ScrollBar from "../components/ScrollBar.astro";
import Overskrift from "../components/Overskrift.astro";
import { Image } from "astro:assets";
import ReadAloud from "../assets/images/icons/ReadAloud.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pierre Falcke</title>
  </head>
  <body>
    <main>
      <section class="header">
        <div>
          <Header>
            <h1>Det uperfekte<span class="highlight">Er perfekt</span></h1>
          </Header>
        </div>

        <div>
          <Image src={ReadAloud} alt="Read Aloud knap" />
        </div>
      </section>

      <section class="section_1">
        <h2>Pierre Falcke <span class="highlight">Intro</span></h2>
	    </section>

      <div>
        <QuoteBoks>
          <h3>Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn <span class="highlight">lukker.</span></h3>
        </QuoteBoks>
      </div>
    </main>
  </body>
</html>

<style>
  h1 span {
    font-family: "Courier New", Courier, monospace;
  }
  .highlight {
    color: #e41088;
  }

  h1,
  h3 span {
    font-weight: 700;
  }
</style>
