---
---

<h2>
  <img src="src/assets/images/BGdesignHeader.svg" alt="background header" />
  <slot />
</h2>

<style>
  h2 {
    position: relative;
    text-align: center;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
</style>

